<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
  <style>
    .messages-enter,
    .messages-leave-to {
      opacity: 0;
      transform: translateX(-1080px);
    }
  </style>
  <title>Highlight Chat</title>
</head>

<body style="-webkit-app-region: drag">
  <div id="app" v-cloak ref="app">
    <transition-group class="messages" :class="{ focus }" name="messages" tag="div" id="messages" style="-webkit-app-region: drag">
      <div class="message messages-item" v-for="message in messages"
        :class="{
          [message.platform]: true,
          highlight: message.highlighted,
          follow: message.follow,
        }" :style="{ background: message.bgColor || '' }" :key="message.id">
        <div class="button delete-button" @click="clearHighlight()">
          <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
            stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
            <line x1="15" y1="9" x2="9" y2="15"></line>
            <line x1="9" y1="9" x2="15" y2="15"></line>
          </svg>
        </div>
        <span class="author" :class="{
              moderator: message.author.isChatModerator,
              member: message.author.isChatSponsor,
            }">
          <div class="avatar">
            <img :src="message.author.profileImageUrl">
            <span class="member-badge" v-if="message.author.channelId !== broadcasterId && message.author.isChatSponsor">
              <img src="https://static-cdn.jtvnw.net/badges/v1/5b8a0d76-4670-4f99-8874-964e20b7a839/3">
            </span>
          </div>
          <span class="badges-and-name">
            <span v-if="message.author.channelId !== broadcasterId && message.author.isChatModerator"><img class="badge moderator" src="https://cdn.frankerfacez.com/static/badges/twitch/2/moderator/1/4.png"></span>
            <span v-if="message.author.isVip"><img class="badge vip" src="https://cdn.frankerfacez.com/static/badges/twitch/2/vip/1/4.png"></span>
            <span v-if="message.author.isChatFounder"><img class="badge" src="https://static-cdn.jtvnw.net/badges/v1/511b78a9-ab37-472f-9569-457753bbe7d3/3"></span>
            <span class="name">{{message.author.displayName}}</span>
            <span class="star" v-if="message.author.channelId == broadcasterId">★</span>
            <span v-if="message.author.team"><i :class="['team-badge', 'fab', `fa-${message.author.team}`]"></i></span>
          </span>
        </span>
        <h1 v-if="message.highlighted">
          <span class="content" v-html="message.sanitized"></span>
        </h1>
        <span v-else class="content" v-html="message.sanitized"></span>
        <span class="content" v-if="message.showSource">
          <textarea rows="3" disabled>{{message.message}}</textarea>
        </span>
        <div class="bottom-bar">
          <div>
            <div v-if="!message.reward && message.isPotentiallyNaughty" class="button" @click="message.showSource = !message.showSource">
              <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <polyline points="16 18 22 12 16 6"></polyline>
                <polyline points="8 6 2 12 8 18"></polyline>
              </svg>
            </div>
          </div>
          <small class="time-sent">{{message.timesent}}</small>
        </div>
      </div>
    </transition-group>
  </div>
<script type="module" src="./highlight.js"></script>
</body>

</html>